@use "../mixins/responsive.scss" as *;

.header__top {
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: space-between;
  background-color: var(--white);


  @include responsive(desktop) {
    position: relative;
    padding: 30px 165px;
    z-index: 1;
    
  }
}